Code/Settings.mat
Unused Code
Code/SystemSettings.mat
Code/temp
Code/SystemSettings.mat

Code/PSO_Settings.mat

Code/SystemSettings.mat
*.asv
Code/itWorks.mat

*.m~

# Visual studio files
*.sdf
*.sln
*.suo
*.opensdf
*.vcxproj*
*Debug*
